<div class="card filmCard">
    <!-- <img src={{film.poster}} class="card-img-top" alt="..."> -->
    <div class="card-body">
        <h3 class="card-title">{{film?.title}}</h3>
        <p class="card-text">{{film?.genres}}</p>
        <p class="card-text">Director: {{film?.director}}</p>
        <p>Writers: </p>
        <div *ngFor="let writer of film.writers">{{writer}}</div>
        <p>Cast: </p>
        <div *ngFor="let actor of film.actors">{{actor}}</div>
        <p class="card-text">{{film?.plot}}</p>
        <button></button>
    </div>
</div>