@import "./src/sass/_variables.scss";
@import "./src/sass/_mixins.scss";
@import "./src/sass/_style2.scss";
@import "./src/sass/_media.scss";
.filmCard {
    @include shadow;
    width: 25vw;
    height: 400px;
    padding: 2vw;
    margin-left: 2.5vw;
}