@media screen and (max-width: 992px){
    .ejemploMicro{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 95%;
    }
    .formulario{
        height: auto;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .bases{
        margin-left: 0vw;
        margin-right: 1.5vw;
    }

}

@media  screen and (max-width: 768px){
    body{
        font-size: 1rem;
    }
    .ejemploMicro{ 
        margin-left: 0%;
        margin-right: 2%;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 95%;
    }

    .parallaxIndex{ 
        min-height: 20vh !important;
    }
    .parallaxFooterIndex{  
        min-height: 5vh !important;
    }
    .parallaxRelato{
        min-height: 20vh !important; 
    }
    .parallaxFooterRelato{ 
        min-height: 10vh !important;
    }
    .card{
        max-width:45%;
        margin-left: 2,5%;
    }
    .micros{
        max-width: 95% !important;
        margin-left: 2%;
    }
}



@media  screen and (max-width: 568px){
    body{
        font-size: 1.2rem;
    }
    
   .parallaxIndex{ 
        min-height: 10vh !important;
    }
    .parallaxFooterIndex{  
        min-height: 5vh !important;
    }
    .parallaxRelato{
        min-height: 10vh !important; 
    }
    .parallaxFooterRelato{ 
        min-height: 5vh !important;
    }
    .card{
        max-width:90%;
        margin-left:5%;
    }
    
}
