<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <a class="navbar-brand" href="#">Filmoteca</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" routerLinkActive='active'>Todas las películas </a>
            </li>
            <li class="nav-item">
                <!-- [routerLink] = ['ruta', dynamic parameter] -->
                <!-- TODO ruta debe ser user/login/, y de ahí a user/:_id -->
                <a class="nav-link" [routerLink]="['/user/']" routerLinkActive='active'>Vista de usuario</a>
            </li>
            <li class="nav-item">
                <!-- [routerLink] = ['ruta', parmas] -->
                <a class="nav-link" [routerLink]="['/users']" routerLinkActive='active'>Admin</a>
            </li>
        </ul>
    </div>
</nav>